.canvas {
  border: solid 1px #d1d1d1;
  background-image: url('./canvas-bg.jpg');
  background-repeat: repeat;
  cursor: grab;

  &--dragging {
    cursor: grabbing;
  }
}

.read-only {
  background-image: none !important;
  background-repeat: unset !important;
}

.canvas-toolbox-container {
  position: relative;
}

.canvas-toolbox-container .canvas-toolbox {
  background-color: rgba(255, 255, 255, 0.94);
  border: 1.5px solid #d1d1d1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 26px;
  position: absolute;
  top: -1px;
}

.canvas-toolbox-container .canvas-toolbox .close-toolbox {
  font-size: 16px;
  float: right;
  position: relative;
  top: -17px;
  right: -12px;
  //color: #72767b;
  //cursor: pointer;
}

.canvas-toolbox .draggable-item-icon {
  font-size: 28px;
  padding-right: 14px;
  padding-top: 6px;
  vertical-align: middle;
}

.canvas-node {
  &__anchor-icon {
    font-size: 72px;
    cursor: default;
  }

  &__header {
    display: table;
    font-weight: 600;

    p {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.close-icon {
  cursor: pointer;
  color: #626262;
}

.close-icon:hover {
  color: #000;
}

.node-toolbar {
  background-color: #f5f5f5;
  border-bottom: solid 1px #bbb;
  border-left: solid 1px #bbb;
  border-radius: 5px;
  border-right: solid 1px #bbb;
  height: 28px;
  padding-left: 8px;
}

.node-toolbar-icons {
  color: #0088ce;
  cursor: pointer;
  font-size: 16px;
  padding-right: 16px;
  padding-top: 4px;
}

.svg-triangle polyline {
  fill: #f5f5f5;
  stroke-width: 2;
  stroke: #bbb;
}

.connector-icons {
  cursor: pointer;
  fill: #0088ce;
  font-size: 16px;
}

.connector-icons:hover {
  fill: #063451;
}

.node-rect {
  fill: #fff;
  stroke-width: 2;
  stroke: #bbb;
}

.mouseover-node-rect {
  stroke-width: 3;
  stroke: #bbb;
}

.connector-tooltip {
  fill: #f5f5f5;
  stroke-width: 1;
  stroke: #030303;
}

.connector-tooltip-text {
  font-size: 10px;
}

.connector-circle {
  fill: #fff;
  stroke-width: 2;
  stroke: #030303;
}

.mouseover-connector-circle {
  fill: #fff;
  stroke-width: 3;
  stroke: #030303;
}

.unconnected-circle {
  fill: #2d7623;
  stroke-opacity: "0.8";
  stroke-width: 2;
  stroke: #030303;
}

.mouseover-unconnected-circle {
  fill: #2d7623;
  stroke-opacity: "0.8";
  stroke-width: 3;
  stroke: #030303;
}

.connection-line {
  fill: transparent;
  stroke-width: 4;
  stroke: #8b8d8f;
}

.mouseover-connection-line {
  fill: transparent;
  stroke-width: 6;
  stroke: #8b8d8f;
}

.selected-connection-line {
  fill: transparent;
  stroke-width: 4;
  stroke: #cc0000;
}

.connection-endpoint {
  fill: #8b8d8f;
}

.selected-connection-endpoint {
  fill: #cc0000;
}

.mouseover-connection-endpoint {
  fill: #8b8d8f;
}

.connection-name {
  fill: #030303;
}

.selected-connection-name {
  fill: #cc0000;
}

.mouseover-connection-name {
  fill: #030303;
}

.dragging-connection {
  pointer-events: none;
}

.dragging-connection-line {
  fill: transparent;
  stroke-width: 3;
  stroke: #8b8d8f;
}

.dragging-connection-endpoint {
  fill: #8b8d8f;
}

.draggable-container {
  border: solid 1px #d1d1d1;
}

.drag-selection-rect {
  fill: transparent;
  stroke-width: 2;
  stroke: #0088ce;
}

.node-dialog-close {
  font-size: 12px;
  padding-top: 7px;
}

.nodetoolbar-dialog {
  left: -19px;
  margin-top: 4px;
  padding: 8px;
  position: fixed;
  top: 19px;
  width: 300px;
}

.nodetoolbar-dialog .tag-list-action {
  color: #fff;
  cursor: pointer;
}

.tag-dialog {
  left: 30px;
  width: 353px;
}

.node-tag-title {
  font-weight: 600;
  padding-bottom: 12px;
  padding-top: 12px;
}
